.container{
    display: flex;
    flex-wrap: wrap;
    margin: 1.5rem;
    margin-top: 0.5rem;
    align-items: flex-start;
}
ul{
    display: flex;
    flex: 3 0;
    justify-content: space-evenly;
    flex-direction: column;
    border: 1px solid rgb(5, 94, 100);
    border-radius: 1rem;
    list-style: none;
    margin: 0.5rem;
    padding: 0;
}
ul li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #e4e4e4;
}
li img{
    width: 10rem;
    height: 10rem;
    border-radius: 100rem;
    object-fit: cover;
}
li .remove-button{
    border-radius: 2rem;
    padding: 0.5rem;
    color: rgb(206, 229, 231);
    background-color: rgb(14, 80, 88);
    opacity: 0.85;
}
li .remove-button:hover{
    opacity: 1;
    cursor: pointer;
}